.header{
    height: 5.6875rem;
    width: 100%;
    display: flex;
    flex-flow: row;
    background-color: black;
    box-shadow: 0 1px 3px black;
    &__logo{
        display: flex;
        align-items: center;
        color: $main-red;
        &__img{
            margin-left: 0.625rem;
            margin-right: 0.625rem;
        }
        &__text{
            font-size: 1.25rem;
        }
    }
}